md-divider {
    width: 100%;
}

.fraction {
    max-width: 200px;
}
.fraction__item-container {
    justify-content: center;
    display: flex;
}
.fraction__item-container__item {
    max-width: 80%;
}

.operation-container {
    padding: 20px;
    display: flex;
    align-items: center;
}

.operation {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.result-fraction {
    font-size: 2em;
    align-items: center;
    justify-content: center;
}