<link rel="stylesheet" href="app/calculator/styles.css">

<md-content class="main-container section" layout="column">
    <section class="calculator section" layout>
        <div ng-repeat="fraction in calc.fractions" layout>
            <div class="operation" ng-if="$index > 0">
                <md-select ng-model="calc.usedOperations[$index-1]" 
                        placeholder="Операция"
                        ng-change="calc.calculate()">
                    <md-option ng-value="operation" ng-repeat="operation in calc.operations">
                        {{ operation.label }}
                    </md-option>
                </md-select>
            </div>
            <div class="fraction" flex layout="column">
                <md-input-container class="fraction__item-container">
                <input class="fraction__item-container__item"
                        name="firstDividend"
                        type="number"
                        ng-model="calc.fractions[$index].dividend" 
                        required 
                        minlength="0"
                        placeholder="Делимое"
                        aria-label="dividend"
                        ng-change="calc.calculate()">
                </md-input-container>
                <md-divider></md-divider>
                <md-input-container class="fraction__item-container">
                <input class="fraction__item-container__item"
                        type="number"
                        ng-model="calc.fractions[$index].divider" 
                        required 
                        minlength="0"
                        placeholder="Делитель"
                        aria-label="divider"
                        ng-change="calc.calculate()">
                </md-input-container>
            </div>
        </div>
        
        <div class="equal-sign operation">
            <span class="equal-sign__label">=</span>
        </div>
        <div class="fraction" flex layout="column" ng-show="calc.isCorrectFractions()">
            <md-input-container class="fraction__item-container">
               <input class="fraction__item-container__item"
                      name="resultDividend"
                      type="number"
                      ng-model="calc.result.dividend" 
                      required 
                      minlength="0"
                      placeholder="Делимое"
                      aria-label="resultDividend">
            </md-input-container>
            <md-divider></md-divider>
            <md-input-container class="fraction__item-container">
               <input class="fraction__item-container__item"
                      name="resultDivider"
                      type="number"
                      ng-model="calc.result.divider" 
                      required 
                      minlength="0"
                      placeholder="Делитель"
                      aria-label="resultDivider">
            </md-input-container>
        </div>
    </section>
    <md-button aria-label="Add fraction" ng-click="calc.addNewFraction()"> Add fraction </md-button>
    
</md-content>

